<header>
  <h3>Productos</h3>
  <div>
    <a ui-sref="ProductCreate" class="btn btn-success">Nuevo<span class="key-shortcut">+</span></a>
  </div>
</header>
<div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-search"></i><span class="key-shortcut">F12</span></span>
            <input id="invoice_customer" type="text" ng-model="productSearch" class="form-control" autocomplete="off" ae-select-on-click=""
                   uib-typeahead="product as (product.code + ' - ' + product.name) for product in getMatchingProducts($viewValue) | limitTo:8"
                   typeahead-on-select="goToProduct(productSearch)" typeahead-is-open="typeaheadOpen"
                   typeahead-editable="false" ae-autofocus="InitProduct" clear-on-backspace>
        </div>
    </div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th class="col-md-2">Codigo</th>
                <th class="col-md-2">Nombre</th>
                <th class="col-md-2">Categoría</th>
                <th class="col-md-2">Precio</th>
                <th class="col-md-2">Activo</th>
                <th class="col-md-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="it in products" ng-class="{'alert-info': $index == productIndex}">
                <td>{{::it.code}}</td>
                <td>{{::it.name}}</td>
                <td>{{::it.type.name}}</td>
                <td>{{::it.price | number:2 }}</td>
                <td>{{:: it.active ? 'Si' : 'No' }}</td>
                <td>
                    <a ui-sref="ProductUpdate({id: it.id})" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i><span class="key-shortcut">&midast;</span></a>
                    <button type="button" class="btn btn-danger" ng-click="delete($index)"><i class="glyphicon glyphicon-trash"></i><span class="key-shortcut">&minus;</span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
