<div class="row">
    <h4>Factura #{{:: invoice.number }}</h4>
</div>
<div class="row">
    <a ui-sref="CustomerShow({ personId: invoice.personId })" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i><span class="key-shortcut">esc</span></a>
    <a ng-click="print()" class="btn btn-success"><i class="glyphicon glyphicon-print"></i><span class="key-shortcut">F5</span></a>
    <a ui-sref="TransactionRefund({ transactionId: transaction.transactionId })" class="btn btn-danger">Reembolzar<span class="key-shortcut">-</span></a>
</div>
<div class="row">
  <table class="table">
    <tr>
      <td>Fecha</td>
      <td>{{:: invoice.date | date:'dd/MM/yyyy' }}</td>
    </tr>
    <tr>
      <td>Cliente</td>
      <td>{{:: invoice.customerName }}</td>
    </tr>
    <tr>
      <td>Direccion de entrega</td>
      <td>{{:: invoice.deliveryAddress }}</td>
    </tr>
    <tr>
      <td>Anterior</td>
      <td>${{:: invoice.previousBalance | number:2 }}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>${{:: invoice.total | number:2 }}</td>
    </tr>
    <tr>
      <td>Balance</td>
      <td>${{:: invoice.balance | number:2 }}</td>
    </tr>
  </table>
</div>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Producto</th>
                <th class="text-right">Cantidad</th>
                <th class="text-right">Precio</th>
                <th class="text-right">Importe</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="it in invoice.items">
                <td class="col-md-4">{{:: it.productName }}</td>
                <td class="col-md-2 text-right">{{:: it.quantity }}</td>
                <td class="col-md-2 text-right">${{:: it.price | number:2 }}</td>
                <td class="col-md-2 text-right">${{:: it.quantity * it.price | number:2 }}</td>
            </tr>
            <tr>
                <th class="col-md-4">{{::totals.quantity}}</th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2 text-right">${{::totals.total | number:2 }}</th>
            </tr>
        </tbody>
    </table>
</div>
