<header>
  <h3>Ticket</h3>
  <div>
    <a class="btn btn-default" href="" ng-click="reload()"><i class="glyphicon glyphicon-refresh"></i> <span class="key-shortcut">ESC</span></a>
  </div>
</header>
<form class="form" name="form" ng-submit="form.$valid && submit(ticket)">
    <div class="row">
        <div class="form-group col-md-2">
            <label for="ticket_date" class="control-label">Fecha</label>
            <input id="ticket_date" type="date" class="form-control" ng-model="ticket.date" readonly>
        </div>
    </div>
    <div>
        <h4>Detalle</h4>
        <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th></th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Importe</th>
              </tr>
            </thead>
            <tbody ae-autofocus="InitTicket">
              <tr ng-repeat="it in ticket.items" ae-navigate>
                <td class="col-md-1">
                  <button ng-if="$index < ticket.items.length - 1" type="button" class="btn btn-danger" ng-click="deleteItem($index)">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span class="key-shortcut">supr</span>
                  </button>
                </td>
                <td class="col-md-4">
                  <input type="text" ng-model="it.product" class="form-control" ae-key-tab="[13, 9]" ae-tab-validator="hasProduct(it)"
                         uib-typeahead="product as (product.code + ' - ' + product.name) for product in getMatchingProduct($viewValue) | limitTo:8"
                         typeahead-select-on-blur="true" typeahead-on-select="setListPrice(it)" ae-select-on-click
                         typeahead-focus-on-select="false" typeahead-editable="false" clear-on-backspace on-clear="clearProduct(it)">
                </td>
                <td class="col-md-2"><input type="text" class="form-control" ng-model="it.quantity" ae-key-tab="[13, 9]" ae-tab-validator="hasQuantity(it)" restrict-decimal></td>
                <td class="col-md-2"><input type="text" class="form-control" step="0.01" ng-model="it.price" ae-key-tab="[13, 9]" ae-before-tab="AddItem(it)" restrict-decimal></td>
                <td class="col-md-3">${{it.quantity*it.price | number:2}}</td>
              </tr>
              <tr>
                <td></td>
                <td>{{totals.count}}</td>
                <td></td>
                <td></td>
                <td>${{totals.subtotal | number:2}}</td>
              </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-success" ng-click="print(ticket)">Emitir<span class="key-shortcut">F5</span></button>
    </div>
</form>
