<header>
  <h3>Listas de precios</h3>
  <div>
    <a class="btn btn-default" href="" ng-click="reload()"><i class="glyphicon glyphicon-refresh"></i><span class="key-shortcut">esc</span></a>
  </div>
</header>
<form class="form" name="form" ng-submit="form.$valid && submit(catalog)">
    <div class="row">
        <div class="form-group col-md-2">
            <label for="catalog_name" class="control-label">Nombre</label>
            <input id="catalog_name" type="text" class="form-control" ng-model="catalog.name" ng-required="true" ae-autofocus="InitForm" ae-key-tab="[13]">
        </div>
    </div>
    <div class="row">
        <h4>Productos</h4>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Producto</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="it in catalog.products" ae-navigate>
                    <td class="col-md-3">
                        <input type="text" ng-model="it.product" uib-typeahead="product as (product.code + ' - ' + product.name) for product in getMatchingProduct($viewValue) | limitTo:8" class="form-control" ae-before-tab="AddItem($index)" ae-key-tab="[13]" typeahead-focus-on-select="false">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" ng-disabled="sending">Guardar<span class="key-shortcut">F5</span></button>
    </div>
</form>
