<header>
  <h3>Lista de precios {{:: catalog.name }}</h3>
  <div>
    <a ui-sref="CatalogIndex" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i><span class="key-shortcut">esc</span></a>
    <a ng-click="print(catalog)" class="btn btn-success"><i class="glyphicon glyphicon-print"></i><span class="key-shortcut">F5</span></a>
    <a ng-click="delete(catalog)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i><span class="key-shortcut">-</span></a>
  </div>
</header>
<div class="row">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th class="col-md-2">Producto</th>
                <th class="col-md-2 text-right">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="it in catalog.products">
                <td>{{:: it.name }}</td>
                <td class="text-right">{{:: it.price | number:2 }}</td>
            </tr>
        </tbody>
    </table>
</div>
