<header>
  <h3>{{::customer.name}}</h3>
  <div>
    <a ui-sref="CustomerIndex" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i><span class="key-shortcut">esc</span></a>
    <a ui-sref="CustomerPaymentCreate({ id: customer.id })" class="btn btn-success">Pago<span class="key-shortcut">+</span></a>
    <a class="btn btn-warning" ng-click="print()">Imprimir<span class="key-shortcut">F5</span></a>
  </div>
</header>
<div>
  <h5>Balance: <span ng-class="{'strong text-danger': customer.balance > 0, 'strong text-success': customer.balance < 0}">${{::customer.balance|number:2}}</span></h5>
  <div class="btn-toolbar">
    <button type="button" class="btn btn-default" ng-click="prevPage()"><i class="glyphicon glyphicon-arrow-up"></i> Anteriores<span class="key-shortcut">repg</span></button>
    <button type="button" class="btn btn-default" ng-click="nextPage()"><i class="glyphicon glyphicon-arrow-down"></i> Posteriores<span class="key-shortcut">avpg</span></button>
  </div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="col-md-1">Fecha</th>
        <th class="col-md-5">Descripcion</th>
        <th class="col-md-2">Monto</th>
        <th class="col-md-2">Balance</th>
        <th class="col-md-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="it in transactions" ng-class="{'alert-info': $index == transactionIndex}">
        <td>{{:: it.date | date:'dd/MM/yyyy' }}</td>
        <td>{{:: description(it) }} <span class="text-muted">{{::it.description }}</span></td>
        <td>${{:: it.total | number: 2 }}</td>
        <td ng-class="{'strong': it.balance == 0 && isLastTransaction($index), 'strong text-danger': it.balance > 0 && isLastTransaction($index), 'strong text-success': it.balance < 0 && isLastTransaction($index)}">${{:: it.balance | number: 2 }}</td>
        <td>
          <button type="button" class="btn btn-info" ng-click="showEntry(it)" ng-show="it.transactionType == 1"><i class="glyphicon glyphicon-th-list"></i><span class="key-shortcut">&crarr;</span></button>
          <button type="button" class="btn btn-danger" ng-if="!it.isRefunded" ng-click="refund(it)"><i class="glyphicon glyphicon-trash"></i><span class="key-shortcut">&minus;</span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
