<header>
  <h3>{{::customer.name}}</h3>
  <div>
    <a ui-sref="CustomerIndex" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i><span class="key-shortcut">esc</span></a>
    <a ui-sref="CustomerPaymentCreate({ id: customer.id })" class="btn btn-success">Pago<span class="key-shortcut">+</span></a>
  </div>
</header>
<div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th class="col-md-1">Fecha</th>
                <th class="col-md-5">Descripcion</th>
                <th class="col-md-2">Monto</th>
                <th class="col-md-2">Balance</th>
                <th class="col-md-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="it in transactions" ng-class="{'alert-info': $index == transactionIndex}">
              <td>{{:: it.date | date:'dd/MM/yyyy' }}</td>
              <td>{{:: description(it) }}</td>
              <td>${{:: it.total | number: 2 }}</td>
              <td ng-class="{'strong text-danger': it.balance > 0 && $index == transactions.length - 1, 'strong text-success': it.balance < 0 && $index == transactions.length - 1}">${{:: it.balance | number: 2 }}</td>
              <td>
                  <button type="button" class="btn btn-info" ng-click="showEntry(it)" ng-show="it.transactionType == 1"><i class="glyphicon glyphicon-th-list"></i><span class="key-shortcut">&crarr;</span></button>
                  <button type="button" class="btn btn-danger" ng-click="refund(it)"><i class="glyphicon glyphicon-trash"></i><span class="key-shortcut">&minus;</span></button>
              </td>
            </tr>
        </tbody>
    </table>
</div>
