<div class="row">
  <div class="col-md-6">
    <form-group input="form.employee" label="Empleado">
      <input id="loan_employee" name="employee" type="text" ng-model="loan.employee" class="form-control"
             ae-key-tab="[13, 9]" autocomplete="off" ae-autofocus="InitLoanCreate" clear-on-backspace="clearEmployee()"
             uib-typeahead="employee as (employee.code + ' - ' + employee.name) for employee in getMatchingEmployees($viewValue) | limitTo:8"
             typeahead-select-on-blur="true" typeahead-focus-on-select="false" ae-select-on-click=""
             typeahead-editable="false" typeahead-on-select="setEmployee(absency); $event.target.blur()" required>
    </form-group>
  </div>
  <div class="col-md-6">
    <form-group input="form.description" label="Descripción">
      <input id="loan_description" type="text" name="description" class="form-control" ng-model="loan.description" ae-key-tab="[13, 9, 40]"
                ae-key-prev="[37, 38]" autocomplete="off">
    </form-group>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <form-group input="form.totalAmount" label="Monto">
      <input id="loan_total_amount" name="totalAmount" type="text" class="form-control" ng-model="template.totalAmount" ae-key-tab="[13, 9, 40]"
             ae-key-prev="[37, 38]" autocomplete="off" required />
    </form-group>
  </div>
  <div class="col-md-3">
    <form-group input="form.feeCount" label="Cuotas">
      <input id="loan_fee_count" name="feeCount" type="text" class="form-control" ng-model="template.feeCount" ae-key-tab="[13, 9, 40]"
             ae-key-prev="[37, 38]" autocomplete="off" restrict-decimal required />
    </form-group>
  </div>
  <div class="col-md-3">
    <form-group input="form.fromDate" label="A partir del">
      <input id="loan_start_date" name="fromDate" type="date" class="form-control" ng-model="template.startFromDate" ae-key-tab="[13, 9, 40]"
             ae-key-prev="[37, 38]" autocomplete="off" />
    </form-group>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="form-label">&nbsp;</label>
      <div>
        <button type="button" class="btn btn-primary" ng-click="generate(template)">Generar <span class="key-shortcut">F8</span></button>
      </div>
    </div>
  </div>
</div>
<div ng-if="loan.fees != null && loan.fees.length > 0">
  <h4>Cuotas</h4>
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Monto</th>
      </tr>
    </thead>
    <tbody ae-autofocus="LoanGenerated">
      <tr ng-repeat="fee in loan.fees" ae-navigate>
        <td><input type="date" id="fee{{::i}}_date" name="fee{{::i}}_date" class="form-control" ae-key-tab="[13, 9]" ng-model="fee.date" required /></td>
        <td><input type="text" id="fee{{::i}}_amount" name="fee{{::i}}_amount" class="form-control" ae-key-tab="[13, 9]" ng-model="fee.amount" restrict-decimal required /></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-group form-actions">
  <button type="submit" class="btn btn-success" ng-disabled="loan.fees == null || loan.fees.length == 0">Guardar<span class="key-shortcut">F5</span></button>
</div>
