<header>
  <h3>Cancelacion de {{::getTransactionType(transaction)}} #{{::transaction.number}}</h3>
  <div>
    <a ui-sref="CustomerShow({ personId: transaction.personId })" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i><span class="key-shortcut">esc</span></a>
  </div>
</header>
<form class="form" name="form" ng-submit="form.$valid && refund(createRefund)">
    <div class="form-group">
        <label for="payment_description" class="control-label">Descripcion</label>
        <textarea id="payment_description" type="text" class="form-control" ng-model="createRefund.description" ae-key-tab="[13]" autocomplete="off" ae-autofocus="InitRefund" ></textarea>
    </div>
    <div class="form-group">
        <label for="payment_total" class="control-label">Monto</label>
        <input id="payment_total" type="text" class="form-control" ng-model="transaction.total" ae-key-tab="[13]" autocomplete="off" disabled="disabled" />
    </div>
    <button type="submit" class="btn btn-success" ng-disabled="sending">Guardar<span class="key-shortcut">F5</span></button>
</form>
