[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
    height: 100%;
}

body {
  padding: 0;
}
header {
  background-color: cornflowerblue;
  color: whitesmoke;
}
header > h1, header > h2, header > h3 {
  margin-top: 10px;
}
.layout {
  height: 100%;
  width: 100%;
}
.side-bar {
  width: 180px;
  height: 100%;
  position: absolute;
}
.side-bar h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.side-bar .navbar {
  margin-bottom: 0;
  height: 100%;
}
.side-bar .navbar-nav>li {
  float: none !important;
}
.content {
  margin-left: 180px;
}
.content > * {
  padding: 20px 30px;
}
.selectrow {
   margin-top: 8px;
}
.selectrow > label, .selectrow > label  .title, .selectrow > label  .subtitle {
  display: block;
}
.selectrow input {
  float: left;
  vertical-align: middle;
}
.selectrow > label {
  padding: 10px 20px;
  box-shadow: #ccc 1px 2px 2px 1px;
  min-height: 60px;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.selectrow .description {
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
}
.selectrow > label  .subtitle {
  font-style: italic;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.form-control, .form-control-static {
  height: 30px;
  padding: 2px 6px;
}
.form-control-static {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0fa;
  min-height: 30px !important;
}
.form-group {
    margin-bottom: 5px !important;
}
.form-actions {
  margin-top: 15px !important;
}
.text-success {
    color: limegreen !important;
}
text-danger {
    color: orangered !important;
}
.strong {
    font-weight: bolder;
}
.glyphicon {
  vertical-align: middle;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.frimav-container {
    padding-left: 10%;
    padding-right: 10%;
}
.key-shortcut {
  min-width: 22px;
  margin-left: 10px;
  font-size: 12px;
  color: #555;
  display: inline-block;
  padding: 1px 5px;
  text-align: center;
  background-color: #eee;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
  background-image: -webkit-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: -moz-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: -o-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: linear-gradient(#f5f5f5 0%, #eee 100%);
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
}
li .key-shortcut {
  margin-right: 10px;
  margin-left: 0;
}
table {
    margin-top: 10px;
}
table > tbody > tr > td {
    padding: 2px 10px !important;
    vertical-align: middle !important;
}
  table > tbody > tr > td.number, table > tbody > tr > th.number {
    text-align: right;
  }
table .btn {
    padding: 4px 8px !important;
}
